<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item border-primary">
    <div class="row">
      <div class="col-auto me-auto">
        <input style="vertical-align: middle;" type="checkbox" value={{ this.isDone }} name="isDone" {{#if this.isDone}}checked{{/if}} disabled>
        <h4 style="display: inline; vertical-align: middle; margin: 0;">{{ this.name }}</h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary" href="/todos/{{ this._id }}">detail</a>
        <a class="btn btn-success" href="/todos/{{ this._id }}/edit">edit</a>
        <form action="/todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>